In [3]:
a = int(input("enter the first number:"))
b = int(input("enter the second number:"))
try: 
    c = a/b
    print("answer:",c)
    
except:
    print("cannot perform the operation!!!")
print('thank you for using this program')

enter the first number:4
enter the second number:0
cannot perform the operation!!!
thank you for using this program

In [19]:

try:
    a = int(input("enter the number:"))
    print(f"the table of {a} is")
    for i in range(1,11):
        print(f"{int(a)} X {i} = {int(a)*i}")
except:
    print("can not perform the operation!!!")

enter the number:gf
can not perform the operation!!!